* {
    margin: 0;
    padding: 0;

}

/* must be here */
body {
    background-color: lightskyblue;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px; 
}

input,
select {
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;

}

button {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(8, 133, 126);
    cursor: pointer;
}

button:active{
    transform: translateY(2px);
}
 /* .employeeList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    /* gap: 20px; */
    /* margin-top: 30px; */
    /* background-color: white; 
} */

.employeeCard {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 20px;
}

#error {
    display: none;
}